<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="unit_jurisdiction" property="unitJurisdiction" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="user_unit" property="userUnit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, password, unit_jurisdiction, phone_number, user_unit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ssm.pojo.UserKey" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ssm.pojo.UserKey" >
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.User" >
    insert into user (userid, username, password, 
      unit_jurisdiction, phone_number, user_unit
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{unitJurisdiction,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{userUnit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="unitJurisdiction != null" >
        unit_jurisdiction,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="userUnit != null" >
        user_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="unitJurisdiction != null" >
        #{unitJurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userUnit != null" >
        #{userUnit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.User" >
    update user
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="unitJurisdiction != null" >
        unit_jurisdiction = #{unitJurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userUnit != null" >
        user_unit = #{userUnit,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.User" >
    update user
    set password = #{password,jdbcType=VARCHAR},
      unit_jurisdiction = #{unitJurisdiction,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      user_unit = #{userUnit,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>